- id: '1732228580515'
  alias: Установка температуры ночью
  description: ''
  triggers:
  - trigger: time_pattern
    hours: '23'
  conditions: []
  actions:
  - action: climate.set_temperature
    metadata: {}
    data:
      temperature: 47
    target:
      entity_id: climate.ebus_boiler
  - action: input_number.set_value
    metadata: {}
    data:
      value: 100
    target:
      entity_id: input_number.heater_modulation
  - action: climate.set_temperature
    metadata: {}
    data:
      temperature: 47
    target:
      entity_id: climate.ebus_boiler_emergency
  mode: single
- id: '1732229197403'
  alias: Установка температуры днем
  description: ''
  triggers:
  - trigger: time_pattern
    hours: '7'
  conditions: []
  actions:
  - action: climate.set_temperature
    metadata: {}
    data:
      temperature: 20
    target:
      entity_id: climate.ebus_boiler
  - action: input_number.set_value
    metadata: {}
    data:
      value: 15
    target:
      entity_id: input_number.heater_modulation
  - action: climate.set_temperature
    metadata: {}
    data:
      temperature: 20
    target:
      entity_id: climate.ebus_boiler_emergency
  mode: single
- id: '1732233391711'
  alias: 'Перезапуск Modbus если временно нет данных'
  description: ''
  triggers:
  - trigger: time_pattern
    minutes: /5
  conditions:
  - condition: template
    value_template: '{{ states(''binary_sensor.192_168_2_131'') == ''on'' and states(''sensor.ebus_uptime'')
      == ''unavailable''}}'
  actions:
  - action: modbus.reload
    metadata: {}
    data: {}
  mode: single
- id: '1732913286613'
  alias: Установка значений E-BUS адаптера при перезагрузке
  description: ''
  triggers:
  - trigger: time_pattern
    minutes: /5
  conditions:
  - condition: and
    conditions:
    - condition: template
      value_template: '{{ state_attr(''climate.ebus_boiler'', ''temperature'') | int
        != states(''input_number.heater_last_temperature'') | int }}'
  actions:
  - action: climate.set_temperature
    metadata: {}
    data:
      temperature: '{{ states(''input_number.heater_last_temperature'') | int(default=0)
        }}'
    target:
      entity_id: climate.ebus_boiler
  mode: single
- id: '1742836748810'
  alias: Выключение котла днем (летний режим)
  description: ''
  triggers:
  - trigger: time
    at: 07:01:00
  conditions: []
  actions:
  - action: switch.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: switch.ebus_heater_contour
  mode: single
- id: '1742836854137'
  alias: Включение котла ночью (летний режим)
  description: ''
  triggers:
  - trigger: time
    at: '22:59:00'
  conditions: []
  actions:
  - action: switch.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: switch.ebus_heater_contour
  mode: single
